{% extends 'base.html' %}
{% block title %}{{ block.super }} - Home{% endblock %}
{% block content %}
    <h2>Home</h2>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <form method="post" action="/vacancy/new">
                {% csrf_token %}
                <label for="id_desc_vacancy">Vacancy description</label><br>
                <input id="id_desc_vacancy" name="description">
                <input type="submit" value="Save">
            </form>
        {% else %}
            <form method="post" action="/resume/new">
                {% csrf_token %}
                <label for="id_desc_resume">Resume text</label><br>
                <input id="id_desc_resume" name="description">
                <input type="submit" value="Save">
            </form>
        {% endif %}
    {% else %}
        <p>You must log in in order to create new entries.</p>
    {% endif %}
{% endblock %}